### **Pandas**

Pacote utilizado para a manipulação dos dados usando I.A em Python

In [53]:
# importando o pacote
import pandas as pd

In [55]:
# realizando o carregamento dos dados a serem utilizados
from google.colab import files
uploaded = files.upload ()

Saving dados.xlsx to dados (1).xlsx

In [56]:
# informações sobre o aquivos carregado
for fn in uploaded.keys(): print('Arquivo "{name}" com tamanho de {length} bytes'.format( name=fn, length=len(uploaded[fn])))

Arquivo "dados.xlsx" com tamanho de 8322 bytes

In [57]:
# preprarando o arquivos, utilizando parametro read_excel
dados1 = pd.read_excel('dados.xlsx')

In [58]:
# informa a tupla linha e coluna
dados1.shape

(10, 2)

In [59]:
# informa os 5 primeiros registros como um padrão
dados1.head()

   numeros letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e

In [60]:
# informa os 7 registros como um padrão
dados1.head(7)

   numeros letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e
5        6      f
6        7      g

In [61]:
print(dados1)

   numeros letras
0        1      a
1        2      b
2        3      c
3        4      d
4        5      e
5        6      f
6        7      g
7        8      h
8        9      i
9       10      j

In [10]:
# carregando outro arquivo
uploaded.update(files.upload())

Saving census.csv to census.csv

In [62]:
# renomenando o arquivo utilizando o parametro read_csv
dados2 = pd.read_csv('census.csv')

In [63]:
dados2.shape

(30162, 16)

In [64]:
dados2.head()

   Unnamed: 0  age          workclass  ...  hour.per.week  native.country  income
0           1   39          State-gov  ...             40   United-States   <=50K
1           2   50   Self-emp-not-inc  ...             13   United-States   <=50K
2           3   38            Private  ...             40   United-States   <=50K
3           4   53            Private  ...             40   United-States   <=50K
4           5   28            Private  ...             40            Cuba   <=50K

[5 rows x 16 columns]

In [65]:
print(dados2)

       Unnamed: 0  age  ...  native.country  income
0               1   39  ...   United-States   <=50K
1               2   50  ...   United-States   <=50K
2               3   38  ...   United-States   <=50K
3               4   53  ...   United-States   <=50K
4               5   28  ...            Cuba   <=50K
...           ...  ...  ...             ...     ...
30157       32557   27  ...   United-States   <=50K
30158       32558   40  ...   United-States    >50K
30159       32559   58  ...   United-States   <=50K
30160       32560   22  ...   United-States   <=50K
30161       32561   52  ...   United-States    >50K

[30162 rows x 16 columns]

In [66]:
# trabalhando com o dataset a partir de um dicionário

alunos ={'Nome':['Marcelo','Lucas','Cynthia','Helena'],
         'Media':[4,7,5.5,9],
         'Status':['Reprovado','Aprovado','Reprovado','Aprovado']}

In [69]:
# transformando o dicionário na funçao DataFrame
df1 = pd.DataFrame(alunos)

In [70]:
df1.shape

(4, 3)

In [71]:
df1.head()

      Nome  Media     Status
0  Marcelo    4.0  Reprovado
1    Lucas    7.0   Aprovado
2  Cynthia    5.5  Reprovado
3   Helena    9.0   Aprovado

In [72]:
print(df1)

      Nome  Media     Status
0  Marcelo    4.0  Reprovado
1    Lucas    7.0   Aprovado
2  Cynthia    5.5  Reprovado
3   Helena    9.0   Aprovado

In [22]:
# informa a quantidade, média, valor max e min, desvio padrão e %
df1.describe()

          Media
count  4.000000
mean   6.375000
std    2.136001
min    4.000000
25%    5.125000
50%    6.250000
75%    7.500000
max    9.000000

In [23]:
df1[['Nome']]

      Nome
0  Marcelo
1    Lucas
2  Cynthia
3   Helena

In [24]:
# filtrando utilizando df1
df1.loc[[1,3]]

     Nome  Media    Status
1   Lucas    7.0  Aprovado
3  Helena    9.0  Aprovado

In [25]:
# outra forma de filtrar
df1.loc[1:3]

      Nome  Media     Status
1    Lucas    7.0   Aprovado
2  Cynthia    5.5  Reprovado
3   Helena    9.0   Aprovado

In [26]:
# filtrando com confições
df1.loc[df1['Status'] == 'Aprovado']

     Nome  Media    Status
1   Lucas    7.0  Aprovado
3  Helena    9.0  Aprovado

In [27]:
df1.loc[df1['Media'] < 7.0]

      Nome  Media     Status
0  Marcelo    4.0  Reprovado
2  Cynthia    5.5  Reprovado

In [28]:
exame = df1[['Nome','Media']].loc[df1['Media'] < 7.0]
print(exame)

      Nome  Media
0  Marcelo    4.0
2  Cynthia    5.5

In [29]:
s1 = pd.Series([2,5,3,34,54,23,1,16])
print(s1)

0     2
1     5
2     3
3    34
4    54
5    23
6     1
7    16
dtype: int64

In [30]:
import numpy as np
array1 = np.array([2,5,3,34,54,23,1,16])
s2 = pd.Series(array1)
print(s2)

0     2
1     5
2     3
3    34
4    54
5    23
6     1
7    16
dtype: int64

In [31]:
s3 = df1['Nome']
print(s2)
type(s3)

0     2
1     5
2     3
3    34
4    54
5    23
6     1
7    16
dtype: int64

pandas.core.series.Series

In [35]:
dados1.rename(columns={"nr":"números","ltr":"letras"},inplace=True)

In [37]:
dados1['letras'].value_counts()

h    1
j    1
i    1
e    1
a    1
d    1
g    1
f    1
b    1
c    1
Name: letras, dtype: int64

In [46]:

print(dados1)

  letras
0      a
1      b
2      c
3      d
4      e
5      f
6      g
7      h
8      i
9      j

In [47]:
teste = dados1.dropna()

In [48]:
nulos = dados1.isnull()
print(nulos)

   letras
0   False
1   False
2   False
3   False
4   False
5   False
6   False
7   False
8   False
9   False

In [49]:
qtdnulos = dados1.isnull().sum()
print(qtdnulos)

letras    0
dtype: int64

In [50]:
len(dados1['letras'])

10

In [51]:
dados1['letras'].fillna('semdados',inplace = True)

In [52]:
print(dados1)

  letras
0      a
1      b
2      c
3      d
4      e
5      f
6      g
7      h
8      i
9      j